.chat-container {
    background-color: whitesmoke;
    position: fixed;
    right: 25px;
    top: 0px;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.load-more-container {
    align-self: flex-start;
}

.chat-messages {
    overflow-y: auto;
    word-wrap: break-word;
    padding: 10px;
    flex-grow: 1;
    color: white;
}

.other-messages{
    display: flex;
    margin-bottom: 10px;
}

.my-messages{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
}


.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-image: url("https://cdn.oaistatic.com/_next/static/media/favicon-32x32.be48395e.png"); */
    background-color: black;
    margin-right: 10px;
    text-align: center;
    padding: 2px;
    color:white;
}

 .other-message-bubble {
    text-align: left;
    border-radius: 30px;
    background-color: #514caf;
    padding:10px;
    max-width: 70%;
}

.my-message-bubble {
    text-align: left;
    border-radius: 30px;
    background-color: #512426;
    padding:10px;
    max-width: 70%;
    margin-right:10px;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
}

.chat-input button {
    padding: 5px 10px;
}

.chat-bar {
    display: flex;
    padding: 5px;
    background-color: #514caf;
}

.chat-bar button {
    margin-right: 120px;
}