.chatgpt-container {
    background-color: whitesmoke;
    width: 1000px;
    height: 600px;
    position:fixed;
    top: 50px;
    right:200px;
    border: 2px solid #ccc;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.load-more-container {
    align-self: flex-start;
}

.chatgpt-messages {
    overflow-y: auto;
    word-wrap: break-word;
    padding: 10px;
    flex-grow: 1;
    color: white;
}

.chatgpt-other-messages{
    display: flex;
    margin-bottom: 10px;
}

.chatgpt-my-messages{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
}

.chatgpt-gpt-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("https://cdn.oaistatic.com/_next/static/media/favicon-32x32.be48395e.png");
    background-position: 1px, 1px;
    margin-right: 10px;
    padding: 2px;
}

.chatgpt-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f55211c7-40a6-4534-8ab2-a6a55256621d/dfzf1wn-13cfa100-47eb-420b-91f9-603b40e61138.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y1NTIxMWM3LTQwYTYtNDUzNC04YWIyLWE2YTU1MjU2NjIxZFwvZGZ6ZjF3bi0xM2NmYTEwMC00N2ViLTQyMGItOTFmOS02MDNiNDBlNjExMzgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.i7FdnaQn1q2hSxhSxD8uBafG8QxeD78z9aB3dTZ9W_c');
    background-size: cover;
    text-align: center;
    padding: 2px;
    color:white;
}

 .chatgpt-other-message-bubble {
    text-align: left;
    border-radius: 30px;
    background-color: #AAC8A7;
    padding:10px;
    max-width: 70%;
}

.chatgpt-my-message-bubble {
    text-align: left;
    border-radius: 30px;
    background-color: #514caf;
    padding:10px;
    max-width: 70%;
    margin-right:10px;
}

.chatgpt-input {
    display: flex;
}

.chatgpt-input input {
    flex-grow: 1;
    padding: 5px;
}

.chatgpt-input button {
    padding: 5px 10px;
}

.chatgpt-bar {
    display: flex;
    padding: 5px;
    background-color: #AAC8A7;
    border-bottom: solid white 1px;
}

.chatgpt-bar button {
    margin-right: 400px;
}