/** 
  * Formula component styles
  * @module src/Components/Formula.css
  * text is right-aligned
  * background color is black
  * border color is dark gray
  * text color is monitor green
  * font size is 20px
  * font is bold
  * font is courier
  */
.status {
    border: 0px solid #121412;
    color: #039703;;
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}